<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card" style="width: 30rem;">
    <div class="text-center mt-1">
      <img src="assets/logo/erplogo.png" alt="logo" width="auto" height="100px" />
    </div>
    <div class="alert mt-l" [innerHTML]="message"></div>

    <div class="container">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="card-field">

          <label for="name"> Name </label>
          <input type="text" class="form-input" class="form-control" formControlName="name" />
        </div>
        @if(registerForm.controls['name'].touched && registerForm.controls['name'].errors?.['required']){
          <p class="text-danger"> <i class="fa-solid fa-triangle-exclamation px-2"></i> name required </p>

        }
        @if( registerForm.controls['name'].touched && registerForm.controls['name']?.errors?.['minlength']){
          <p class="text-danger"> <i class="fa-solid fa-triangle-exclamation px-2"></i> minimum length is 3 </p>

          }
        <div class="card-field">
          <label for="email"> Email</label>
          <input type="email" class="form-input" class="form-control" formControlName="email" />
        </div>
        @if(registerForm.controls['email'].touched && registerForm.controls['email']?.errors?.['required']){
          <p class="text-danger"> <i class="fa-solid fa-triangle-exclamation px-2"></i> email required </p>
          }
        @if(registerForm.controls['email'].touched && registerForm.controls['email']?.errors?.['email']){
          <p class="text-danger"> <i class="fa-solid fa-triangle-exclamation px-2"></i> email is not valid </p>

          }
        <div class="card-field">
          <label for="password"> Password</label>
          <input [type]="hide ? 'password' : 'text'" class="form-control"  formControlName="password" />
          @if(registerForm.controls['password'].touched && registerForm.controls['password']?.errors?.['required']){
            <p class="text-danger"> <i class="fa-solid fa-triangle-exclamation px-2"></i> Password required </p>
            }
            @if(registerForm.controls['password'].touched && registerForm.controls['password']?.errors?.['minlength']){
            <p class="text-danger"> <i class="fa-solid fa-triangle-exclamation px-2"></i> minimum length is 6 </p>
    
            }
          <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
        
        <div class="card-field">
          <label for="confirmPassword"> Confirm Password</label>
          <input [type]="hide ? 'password' : 'text'" class="form-control"  formControlName="confirmPassword" />
        </div>
        @if(registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword']?.errors?.['required']){
          <p class="text-danger"> <i class="fa-solid fa-triangle-exclamation px-2"></i> PASSWORD required </p>
          }
          @if(registerForm.controls['confirmPassword'].touched && registerForm.controls['confirmPassword']?.errors?.['minlength']){
          <p class="text-danger"> <i class="fa-solid fa-triangle-exclamation px-2"></i> minimum length is 6 </p>
  
          }
        <div class="mt-5">
          <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid"> Register </button>

          <a class="d-block text-center" routerLink="/login"> Already have An Account ?</a>
        </div>
      </form>
    </div>

  </div>
</div>